{% extends 'main/index.html' %}

{% load bootstrap5 %}

{% block title %} Egreso de producto {% endblock %}

{% block content %}
    <div class="container-flex m-3">
        <div class="row">
            <div class="col border-bottom">
                <h1>Egreso de producto: <b><i>{{ producto.nombre }}</i></b></h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% bootstrap_messages %}
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form formulario_1 %}
                    
                    {% bootstrap_form formulario_2 %}

                    {% buttons %}
                        <button class="btn btn-primary" type="submit" name="egreso_directo">Egreso directo</button>
                        <button class="btn btn-success" type="submit" name="crear_carrito_egreso">Añadir al carrito</button>
                        <a class="btn btn-dark" href="{% url 'management' %}">Cancelar</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>

        <div class="row">
            <div id="mensaje">
                <p class="mb-0">
                    ¡¡IMPORTANTE!! Una vez se cree el carrito no se 
                    podrá navegar a otra parte de la página; de lo contrario este se eliminará.
                </p>
            </div>
    
            <style>
                #mensaje {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    height: 70px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: rgba(0, 255, 0, 0.3);
                    font-size: 20px;
                    font-weight: bold;
                }
            </style>
        </div>
    </div>
{% endblock %}
