{% extends 'main/index.html' %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}


{% block title %} Visualizar producto {% endblock %}


{% block content %}
    <div class="row">
        <div class="col border-bottom">      
            <h1>Visualizar producto</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <h3><i class="fa-solid fa-clipboard-user"></i> Nombre:</h3><br>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" disabled name="radio" value="{{producto.nombre}}"/><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-tag"></i> Tipo:</h3><br>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" disabled name="radio" value="{{producto.tipo}}"/><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-bars"></i> Descripción:</h3><br>
        </div>
        <div class="col-9">
            <textarea disabled class="form-control" name="radio">{{producto.descripcion}}</textarea><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-boxes-stacked"></i> Stock:</h3><br>
        </div>
        <div class="col-9">
            <h3><input class="form-control" type="text" disabled name="radio" value="{{producto.stock}}"/></h3><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-calendar-days"></i> Fecha de creación:</h3><br>
        </div>
        <div class="col-9">
            <h3><input class="form-control" type="text" disabled name="radio" value="{{producto.fecha_creacion}}"/></h3><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-calendar-days"></i> Fecha de edición:</h3><br>
        </div>
        <div class="col-9">
            <h3><input class="form-control" type="text" disabled name="radio" value="{{producto.fecha_edicion}}"/></h3><br>
        </div>
        <div class="col-3">
            <h3><i class="fa-solid fa-user"></i> Encargado:</h3><br> 
        </div>
        <div class="col-9">
            <h3><input class="form-control" type="text" disabled name="radio" value="{{producto.encargado}}"/></h3><br>
        </div>    
    </div>
{% endblock %}
