{% extends 'main/index.html' %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}

{% block title %} Editar categoría {% endblock %}


{% block content %}
    <div class="row">
        <div class="col border-bottom">
            <h1>Editando categoría: <b><i>{{ tipo.nombre }}</i></b></h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% bootstrap_messages %}
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form formulario %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a href="/type"><button type="button" class="btn btn-dark"> Volver</button></a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
