{% extends 'main/index.html' %}

{% load bootstrap5 %}

{% block title %} Eliminar producto {% endblock %}

{% block content %}
    <div class="row">
        <div class="col border-bottom">
            <h1>Eliminar producto</h1>
        </div>
    </div>

    <div class="row">
        <hr>
        <form method="POST">
            <div class="alert alert-danger">
                <h4>¿Estás seguro que quieres eliminar {{ producto }}?</h4>
            </div>
            {% csrf_token %}
            {{ formulario }}
            <a class="btn btn-secondary btn-sm" href="{% url 'product_list' %}">Cancelar</a>
            <input class="btn btn-danger btn-sm" type="submit" value="Confirmar">
            <script>alert("Cuidado: Está eliminado un objeto");</script>
        </form>
    </div>
{% endblock %}