{% load static %}

<!-- Creación del nav superior -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">
        <img src="{% static '_img/logo/icon_grupo3_renace_mod_END.png' %}" alt="icon developers" width="50" height="45">
        iProduct
    </a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <input class="nav-toggler form-control form-control-dark w-100 rounded-0 border-0 d-flex flex-row" type="text" placeholder="Search" aria-label="Search">

    <div class="nav-toggler dropdown" style="padding: 16px; margin-right: 25px;">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static '_img/icons/icon_user.png' %}" alt="user_icon" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1"> {{user.get_full_name}} Username</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right text-small text-white">
            <li class="dropdown-item">
                <a href="{% url 'logout' %}" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1">
                    <span data-feather="log-out" class="align-text-bottom style=" style="padding-right: 1px;"></span>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
</header>