{% load static %}

<!-- Creación del nav lateral izquierdo -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
    <div class="transparence_navbar_lateral position-sticky pt-3 sidebar-sticky">   
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Inicio</span>
        </h6>

        <ul class="nav flex-column">
            <a class="nav-link" href="/">
                <span data-feather="home" class="align-text-bottom"></span>
                Home
            </a>
            <a class="nav-link" href="/presentation">
                <span data-feather="info" class="align-text-bottom"></span>
                Presentación
            </a>
            <a class="nav-link" href="/equipment">
                <span data-feather="package" class="align-text-bottom"></span>
                Equipamiento
            </a>
        </ul>


        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Inventario</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/product">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/type">
                    <span data-feather="archive" class="align-text-bottom"></span>
                    Categorías
                </a>
            </li>
        </ul>


        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Movimientos de inventario</span>
        </h6>
        <ul class="nav flex-column">
            <a class="nav-link" href="/management">
                <span data-feather="truck" class="align-text-bottom"></span>
                Gestión de productos
            </a>
            <a class="nav-link" href="/list_management">
                <span data-feather="list" class="align-text-bottom"></span>
                Historial de movimientos
            </a>
        </ul>


        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Datos</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/client">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/provider">
                    <span data-feather="tag" class="align-text-bottom"></span>
                    Proveedores
                </a>
            </li>
        </ul>
        

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Sistema</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <span data-feather="shield" class="align-text-bottom"></span>
                    Administración Django
                </a>
            </li>
        </ul>
    </div>
</nav>