{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} Home {% endblock %} </title>

    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/base_dashboard.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '_img/logo/icon_grupo3_renace_mod_END.png' %}">
</head>

<body>
    {% include 'main/navbar/navbar_superior.html' %}
      
    <div class="container-fluid">
        <div class="row">
            {% include 'main/navbar/navbar_lateral.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                    <div class="container-flex m-3">
                        <div class="row">
                            <div class="col border-bottom">
                                <h1>Home</h1>
                                <!--
                                <img width="50" height="45" src="https://cdn.discordapp.com/attachments/1088837244195971175/1111740118471032872/spin.gif">
                                -->
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <section id="/" class="m-2">
                                    <div> <img class="img-fluid mx-auto d-block conteiner-img" width="45%" src="{% static '_img/img/inventory_img.png' %}" alt="Portada de presentración"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>

    {% bootstrap_javascript %} 
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script><script src="{% static 'script/dashboard.js' %}"></script>
    </body>
</html>