{% extends 'main/index.html' %}

{% load bootstrap5 %}

{% block title %} Lista de movimiento de productos {% endblock %}

{% block content %}
    <div class="container-flex m-3">
        <div class="row">
            <div class="col border-bottom">
                <h1><i class="fa-solid fa-handshake-simple"></i> MOVIMIENTOS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top: 5px; padding-bottom: 5px;">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="list_entry" class="btn btn-success"> Ingresos</button>
                    <button type="submit" name="list_discharge" class="btn btn-danger"> Egresos</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="mensaje">
                    <p class="mb-0">Seleccione el tipo de movimiento a listar con los botones</p>
                </div>

                <style>
                    #mensaje {
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        height: 70px;
                        border: 1px solid red;
                        border-radius: 10px;
                        background-color: rgba(255, 0, 0, 0.3);
                        font-size: 20px;
                        font-weight: bold;
                    }
                </style>
            </div>
        </div>
    </div>
{% endblock %}